.bg-image {
    
    height: 585px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
}


.gridseat  {
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: black;
        font-weight: bold;
        position: absolute;
        top: 30%;
        left: 45%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: left;
}

h1 {
    margin-top: 200px;
    color: white;
}

.card:hover 
{
    background-color : lightblue;
}



.booked {
    background-color: lightgreen;
    color: white;
}

.selected {
    background-color: gray;
}

.finalized:hover{
    background-color: gray;
}

.col-auto{
    float :right;
    margin-top: -490px;
    transform: translate(-50%, -50%);
    z-index: 6;
    
}


.col-lg-3 {
    width : 25%;
    }


.imgchair {
    content : url(https://onecognizantbcazrapps.cognizant.com/625/Content/images/AssociateFlexiSeat/office-chair.svg);
    }

    .img-round {
        width: 38px;
        height: 38px;
        background: #ebebeb;
        border-radius: 50%;
        padding: 7px 10px;
        margin-right: 12px;
    }

    img {
        vertical-align: middle;
    }


